* {
    box-sizing: border-box;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.cell {
    border: 1px solid lightgray;
}

#buttonContainer {
    display: flex;
    gap: 15px;
    margin: 10px;
}