* {
    box-sizing: border-box;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.cell {
    border: 1px solid lightgray;
    box-shadow: 0 0 2.5px white;
    border-radius: 2px;
}

#buttonContainer {
    display: flex;
    gap: 15px;
    margin: 10px;
}